<div class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection-section">
  {% comment %}
    By default, featured products come from your Frontpage collection.
    This collection is empty by default and must have products added to it
  {% endcomment %}
  {% if section.settings.home_featured_products == blank %}
    {% assign featured_collection = "frontpage" %}
  {% else %}
    {% assign featured_collection = section.settings.home_featured_products %}
  {% endif %}

  {% comment %}Heading for screen readers{% endcomment %}
  <h2 class="visually-hidden">{{ featured_collection }}</h2>

  <div class="grid grid--no-gutters grid--uniform collection-grid">
    {% comment %}
      Set grid item widths based on settings
    {% endcomment %}
    {% include 'product-grid-width' with product_image_type: section.settings.product_image_type, product_image_size: section.settings.product_image_size %}

    {% unless section.settings.home_featured_products == blank %}
      {% for product in collections[featured_collection].products %}
        {% assign price = product.price | money_without_trailing_zeros %}
        {% include 'product-grid-item' with product_image_spacing: section.settings.product_image_spacing, vendor_enable: section.settings.vendor_enable %}
      {% else %}
        {% comment %}
          If collection is empty, show onboarding state
          For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
        {% endcomment %}
        {% include 'onboarding-featured-collection' with product_image_spacing: section.settings.product_image_spacing %}

      {% endfor %}
    {% else %}
      {% include 'onboarding-featured-collection' with product_image_spacing: section.settings.product_image_spacing %}
    {% endunless %}
  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Featured Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "nl": "Uitgelichte collectie",
    "pt-BR": "Coleção em destaque",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "index-section featured-collection-section",
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "product_image_type",
      "label": {
        "de": "Bildstil",
        "en": "Image style",
        "es": "Estilo de imagen",
        "fr": "Style d'image",
        "it": "Stile immagine",
        "ja": "画像スタイル",
        "nl": "Afbeeldingsstijl",
        "pt-BR": "Estilo da imagem",
        "zh-CN": "图片样式",
        "zh-TW": "圖片樣式"
      },
      "options": [
        {
          "value": "portrait",
          "label": {
            "de": "Hoch/Quadrat",
            "en": "Tall/square",
            "es": "Alta/cuadrada",
            "fr": "Grand/carré",
            "it": "Verticale/quadrata",
            "ja": "縦長/正方形",
            "nl": "Hoog/vierkant",
            "pt-BR": "Alto/quadrado",
            "zh-CN": "高/正方形",
            "zh-TW": "高/正方形"
          }
        },
        {
          "value": "landscape",
          "label": {
            "de": "Breit",
            "en": "Wide",
            "es": "Ancho",
            "fr": "Large",
            "it": "Orizzontale",
            "ja": "横長",
            "nl": "Breed",
            "pt-BR": "Grande",
            "zh-CN": "宽",
            "zh-TW": "寬"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "product_image_size",
      "label": {
        "de": "Foto-Größe",
        "en": "Image size",
        "es": "Tamaño de la imagen",
        "fr": "Taille de l'image",
        "it": "Dimensione immagine",
        "ja": "画像のサイズ",
        "nl": "Afbeeldingsformaat",
        "pt-BR": "Tamanho da imagem",
        "zh-CN": "图片尺寸",
        "zh-TW": "圖片尺寸"
      },
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medium",
            "ja": "中",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "nl": "Groot",
            "pt-BR": "Grande",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "xlarge",
          "label": {
            "de": "Extra groß",
            "en": "Extra large",
            "es": "Extra grande",
            "fr": "Très grande",
            "it": "Extra large",
            "ja": "特大",
            "nl": "Extra groot",
            "pt-BR": "Extra grande",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_image_spacing",
      "label": {
        "de": "Bildabstand aktivieren",
        "en": "Enable image spacing",
        "es": "Habilitar espaciado de imagen",
        "fr": "Activer l'espacement des images",
        "it": "Abilita spaziatura immagini",
        "ja": "画像の間隔を有効にする",
        "nl": "Afstand tussen afbeeldingen inschakelen",
        "pt-BR": "Ativar espaçamento de imagem",
        "zh-CN": "启用图片间距",
        "zh-TW": "啟用圖片間距"
      }
    },
    {
      "type": "checkbox",
      "id": "vendor_enable",
      "label": {
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exiba o fornecedor do produto",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
