<!-- /templates/page.liquid -->

<div class="page-width page-container">
  <header>
    <h1>{{ page.title }}Seek Mischiff </h1>
  </header>

  <div class="rte rte--indented-images">{% section 'image-background' %}
    <p class='paragraph-about'> About the CEO and Founder</p>
    <a href="https://angiechangpagne.com">Angie Changpagne | Shanghai | Los Angeles </a>
    {{ page.content }}


  </div>
</div>
